In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

import warnings 
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [10]:
df.drop(columns=['CustomerID','Genre','Age'],inplace=True)
df

     Annual Income (k$)  Spending Score (1-100)
0                    15                      39
1                    15                      81
2                    16                       6
3                    16                      77
4                    17                      40
..                  ...                     ...
195                 120                      79
196                 126                      28
197                 126                      74
198                 137                      18
199                 137                      83

[200 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Annual Income (k$)      200 non-null    int64
 1   Spending Score (1-100)  200 non-null    int64
dtypes: int64(2)
memory usage: 3.3 KB

In [12]:
df.isnull().sum()

Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [7]:
X = df.iloc[:,:2].values

**Modelling

In [8]:
#import
from sklearn.cluster import DBSCAN

#save
dbs = DBSCAN(eps=2, min_samples=5)

#fit
y_dbs = dbs.fit_predict(X)

ValueError: could not convert string to float: 'Male'

In [ ]:
df["cluster"] = pd.DataFrame (y_dbs)
df

In [ ]:
df["cluster"].unique()